.page {
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
}

@media (min-width: 1280px) {
  .page {
    margin: 0 200px;
  }
}

@media (min-width: 1400px) {
  .page {
    max-width: 1200px;
    margin: 0 auto;
  }
}
