.popup__exit-button {
  background-color: transparent;
  background-image: url(../../../images/close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  right: -27px;
  top: -27px;
  height: 25px;
  width: 25px;
}

@media (min-width: 768px) {
  .popup__exit-button {
    right: -34px;
    top: -34px;
    height: 32px;
    width: 32px;
  }
}
