.form__label {
  display: flex;
  flex-direction: column;
}

.form__label:first-of-type {
  margin: 40px 0 0 0;
}

.form__label:nth-of-type(2) {
  margin: 5px 0 0 0;
}

@media (min-width: 768px) {
  .form__label:nth-of-type(1) {
    margin: 50px 0 0 0;
  }
}
