.profile__info {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 14px;
}

@media (min-width: 768px) {
  .profile__info {
    margin: 0 auto 0 0;
    text-align: left;
    justify-content: start;
  }
}
